!!!
%html
  %head
    %title Raspberry Pi redis RFID
    %link(rel="stylesheet" href="css/bootstrap.min.css")
  %body(style="background-color: white;")
    .navbar
      .navbar-inner
        .brand
          %a(class="brand") BRAND
          %u(class="nav")
            %li
              %a home
            %li
              %a extra

    = yield

    %script(src="http://code.jquery.com/jquery-latest.js")
    %script(src="js/bootstrap.min.js")
